*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 250px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -350px;
  }
}

.item {
  width: 350px; /* Aggiornato a 350px */
  height: 250px;
  background-color: red;
  border-radius: 24px;
  position: absolute;
  left: max(calc(350px * 7), 100%); /* Calcolo per 7 elementi */
  animation-name: scrollLeft;
  animation-duration: 30s; /* Durata dell'animazione */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Classi per gestire 7 elementi */
.item1 {
  animation-delay: calc(30s / 7 * (7 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 7 * (7 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 7 * (7 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 7 * (7 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 7 * (7 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 7 * (7 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 7 * (7 - 7) * -1);
}

.testi{
  color: rgb(89,65,51)
}

.botttone{
  border-color: rgb(89,65,51);
}

.color{
  background-color: rgb(89,65,51);
}
