.text{
  font-size: 3rem;
  font-family: Lemonada;
  color: rgb(89,65,51);
}


.container-empty {

  display: flex;
  justify-content: center;
  justify-items: center;

  .empty {
    font-size: 40px;
    color: black;

  }
}
