


* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #662e00;
}

.main-container {
  display: flex;
  position: relative;
  padding: 0 2rem;
  width: 100%;
  box-sizing: border-box;
  height: 100px; /* Grandezza navbar */

}


.navbar{

  display: flex;
  width: 100%;
  margin: 0 auto;

  align-items: center;
  justify-content:center;
  box-sizing: border-box;

}


/* Logo */




.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
  height: 60px;
  width: 60px;
}

.navbar .logo a img{
  padding-top: 5px;
  padding-bottom: 5px;
  height: 80px       /* Grandezza logo */
}



/* Search */

.container-search{
  top: -45px;           /* posizione Verticale */
  margin: 0 auto;
  border: 6px black;


  .risultati {
    position: absolute;
    justify-content: center;
    top: 100%;
    left: calc(50% - 300px);
    width: 600px;
    z-index: 1000;

  }



  .search {
    --padding: 14px;
    flex: 1;
    position: absolute;
    /* left: 50%; */
    transform: translateX(-50%);
    top: 20px;
    width: 40%;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;

    i{
      padding-left: 7px;
    }

    :focus-within{
      box-shadow:  0 0 2px rgba(0, 0, 0,0.01);
    }

    .search-input{
      width: 100%;
      font-size: 16px;
      font-family: 'Lexend', sans-serif;
      color: #333333;
      margin-left: var(--padding);
      outline: none;
      border: none;
      background: transparent;
    }
  }
}




/* Drop Down Menu */


.menu-container {
  position: relative;

  background: var(--light-gray);
  font-size: 20px;
  border-radius: 50px;


  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50px;
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in, border 0.3s;

    .profile-img {
      position: relative;
      background-size: cover;
      width: 51px;
      height: 51px;
      margin-right: 10px;
      border-radius: 50%;

      .img{
        border-radius: 50%;
        width: 51px;
        height: 51px;
        object-fit: cover;
        box-shadow: 0 0 0 1px black;
      }
    }
  }
}


.menu{
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  overflow: hidden;
  max-height: fit-content;
  box-shadow: var(--shadow);
  transition: max-height 0.5s;



  hr{
    border: 0.5px solid green;
  }


  .elements-list{
    padding: 0.5rem 0 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
    background-color: white;


    :hover{
      padding-left: 1.5px;
      background-color: var(--secondary-light);

      .logout{
        color: red;
      }

      .admin{
        color:red;
      }

    }


    a{
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 500;
      color: black;
      background-color: white;

    }


    .icon{
      margin-left: 5px;
      margin-right: 10px;
      background-color: white;
    }
  }
}




.guest{
  display: flex;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in, border 0.3s;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 51px;
  width: auto;
  padding: 20px;

  a{
    background-color: white;
    text-decoration: none;
    font-size: 1.5rem;
    justify-content: center;
    color: black;
  }

}


@media (max-width: 1000px){

  .container-search{
    left: 25%;
  }
}




@media (min-width: 2000px){
  .container-search{
    left: 40%;
  }
}
