.sfondo{
  background-color: rgb(247,244,236);
}

.custom-btn{
  background-color: #333333;
  color: white;

  :hover{
    scale: 1.3;
  }

}

.pressed-btn{
  background-color: #db202f;
  color: white;

  :hover{
    scale: 1.3;
  }

}

.twitter{
  background-color: black;
  color: white;

  :hover{
    scale: 1.3;
  }

}

.instagram{
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  color: white;

  :hover{
    scale: 1.3;
  }

}

.facebook{
  background-color: #3B5998;

  :hover{
    scale: 1.3;
  }

}
