

.container-generale{

  button:disabled{
    cursor: not-allowed;
    opacity: 0.6;
    background-color: red;
  }



  .imagini{

    width: 100%;
    height: 500px;
                                                                position: relative;
    .background{

      /*

      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background: url("/public/testImg/ceste_pane.jpeg");
                                                                position: absolute;
                                                                object-fit: cover;

       */


      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: saddlebrown center center / cover no-repeat;
      object-fit: cover;
      z-index: 1;



    }

    .background-def{
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      object-fit: contain;
    }

    .profile-img{

      position: absolute;
      margin-top: 150px;
      margin-left: 30px;
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      background: white center center / cover no-repeat;
      z-index: 2;
      border: 3px solid white;
    }

    .profile-img-def{
      display: flex;
      margin-left: 30px;
      margin-top: 150px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: url("/public/testImg/profile.jpeg");
    }



    .buttonMod {
      position: absolute;
      margin-top: 300px;
      margin-left: 30px;

    }



  }


  .links{

    margin-top: 33px;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;


    a{
      color: black;
      text-decoration: none;
      font-size: 25px;
    }

  }

  hr{
    margin-top: 21px;
    margin-bottom:24px;
  }


  .conteiner-ogetti{

    .elementi {

      .container-empty {

        display: flex;
        justify-content: center;
        justify-items: center;

        .empty {
          font-size: 40px;
          color: black;

        }

      }

    }

  }



  .dropzone{
    width: 450px;
    height: 200px;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;

    input{
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    label{
      color: white;
      width: 183px;
      height: 44px;
      border-radius: 21.5px;
      background-color: #db202f;
      padding: 8px 16px;
    }

    h3{
      font-size: 20px;
      font-weight: 600;
      color: #38424c;
    }


  }






}
