*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  min-width: 100%;


  .wrapper {

    width: 420px;
    color: black;
    padding: 30px 40px;
    margin-top: 15vh;


    /* From https://css.glass */
    background: rgba(150, 75, 0, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(150, 75, 0, 0.09);
  }

  h1{
    font-size: 36px;
    text-align: center;
  }

  .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

    input{
      width: 100%;
      height: 100%;
      background-color: transparent;
      outline: none;
      border-radius: 40px;
      font-size: 16px;
      color: black;
      border: 2px solid black;
      padding: 20px 45px 20px 20px;

    }

    input::placeholder{
      color: black;
    }
  }

  .forgot-password{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;

    label input{
      accent-color: black;
      margin-right: 3px;
    }

    a{
      color: black;
      text-decoration: none;
      border-bottom: 2px solid transparent;
    }

    a:hover{
      border-bottom: 2px solid white;
    }
  }
}



.wrapper .btn{
  width: 100%;
  height: 45px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-size: 16px;
  color: #333;
  font-weight: 600;
}


.wrapper .btn:hover{
  background-color: transparent;
  color: white;
  border: 2px solid white;
}


.wrapper .register-button{
  font-size: 14px;
  text-align: center;
  margin: 20px 100px 15px;
  width: 150px;

}

.register-button p button{
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-button p button:hover{
  text-decoration: underline;
}

.icone{
  position: absolute;
  top: 13px;
  left: 305px;
}



