<div class="flex flex-wrap mt-8 mb-8 justify-center">

  <!-- Prima colonna -->
  <div class="flex flex-col items-center text-center w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
    <img src="/public/fast-delivery.png" alt="fast and easy delivery" class="rounded-md" width="140" height="140">
    <h2 class="font-semibold mt-4 text-black text-4xl">Ordini Veloci e Facili</h2>
    <p class="font-c mt-2 max-w-xs">Scopri il modo più rapido e semplice per ordinare i tuoi prodotti preferiti.</p>
  </div>

  <!-- Seconda colonna -->
  <div class="flex flex-col items-center text-center w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
    <img src="/public/route.png" alt="Track your Order Easily" class="rounded-md" width="140" height="140">
    <h2 class="font-semibold mt-4 text-black text-4xl">Traccia Facilmente il tuo Ordine</h2>
    <p class="font-c mt-2 max-w-xs">Tieni traccia facilmente del tuo ordine in tempo reale e rimani aggiornato su ogni fase del processo di consegna.</p>
  </div>

  <!-- Terza colonna -->
  <div class="flex flex-col items-center text-center w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
    <img src="/public/fulfillment.png" alt="Happiness Guarantee" class="rounded-md" width="140" height="140">
    <h2 class="font-semibold mt-4 text-black text-4xl">Felicità Garantita</h2>
    <p class="font-c mt-2 max-w-xs">Garantiamo la tua soddisfazione con i nostri prodotti e servizi, altrimenti risolveremo il problema.</p>
  </div>

</div>


<div class="container marketing pb-20">


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider mt-6">

  <div class="row featurette mt-5">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 text-black">Acquisti Facili e Veloci 🛒</h2>
      <p class="lead">Scopri un marketplace dedicato ai prodotti da forno, dove acquistare è semplice e veloce! Con un'interfaccia intuitiva, puoi esplorare un'ampia selezione di pane, dolci, focacce e molto altro, direttamente dai migliori fornai. Registrati in pochi secondi e ricevi i tuoi prodotti preferiti a casa con pochi clic.</p>
    </div>
    <div class="col-md-5">
      <img class="bb-placeholder-img bg-placeholder-img-lg featurette-image img-fluid mx-auto rounded-lg" src="/public/image.jpg" width="500" height="500">
    </div>
  </div>



  <div class="row featurette mt-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1 text-black">Spazio Esclusivo per i Fornai 🍞</h2>
      <p class="lead">Sei un fornaio o un produttore di specialità da forno? Con il nostro Spazio Fornitori, puoi gestire il tuo negozio online in pochi semplici passi! Personalizza il tuo profilo, aggiorna il catalogo dei tuoi prodotti e monitora le vendite in tempo reale. Ti aiutiamo a connetterti con migliaia di clienti appassionati di prodotti freschi e artigianali.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bb-placeholder-img bg-placeholder-img-lg featurette-image img-fluid mx-auto rounded-lg" src="/public/image-2.jpg" width="500" height="500">
    </div>
  </div>



  <div class="row featurette mt-5">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 text-black">Unisciti alla Community del Gusto 🥖</h2>
      <p class="lead">Più di un semplice marketplace: siamo una community di amanti della panificazione! Scopri ricette, consigli e storie dietro i prodotti che ami. Iscriviti alla nostra newsletter per ricevere aggiornamenti su nuovi fornitori, offerte speciali e tendenze del settore.</p>
    </div>
    <div class="col-md-5">
      <img class="bb-placeholder-img bg-placeholder-img-lg featurette-image img-fluid mx-auto rounded-lg" src="/public/image-3.jpg" width="500" height="500">
    </div>
  </div>

  <!-- Aggiungere divisiore se si vuole aggiungere altri elementi  -->

  <!-- /END THE FEATURETTES -->

</div>
