<div class="flex flex-wrap mt-8 mb-8 justify-center">

  <!-- Prima colonna -->
  <div class="flex flex-col items-center text-center w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
    <img src="/public/fast-delivery.png" alt="fast and easy delivery" class="rounded-md" width="140" height="140">
    <h2 class="font-semibold mt-4 text-black text-4xl">Fast and Easy Order</h2>
    <p class="text-gray-200 mt-2 max-w-xs">Experience the fastest easiest way to order your favorite products.</p>
  </div>

  <!-- Seconda colonna -->
  <div class="flex flex-col items-center text-center w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
    <img src="/public/route.png" alt="Track your Order Easily" class="rounded-md" width="140" height="140">
    <h2 class="font-semibold mt-4 text-black text-4xl">Track your Order Easily</h2>
    <p class="text-gray-200 mt-2 max-w-xs">Easily track your order in real-time and stay updated with every step of the delivery process.</p>
  </div>

  <!-- Terza colonna -->
  <div class="flex flex-col items-center text-center w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
    <img src="/public/fulfillment.png" alt="Happiness Guarantee" class="rounded-md" width="140" height="140">
    <h2 class="font-semibold mt-4 text-black text-4xl">Happiness Guarantee</h2>
    <p class="text-gray-200 mt-2 max-w-xs">We ensure your satisfaction with our products and services, or we’ll make it right.</p>
  </div>

</div>


<div class="container marketing">


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider mt-6">

  <div class="row featurette mt-5">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 text-black">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5">
      <img class="bb-placeholder-img bg-placeholder-img-lg featurette-image img-fluid mx-auto rounded-lg" src="/public/testImg/pizza-fetta.jpg" width="500" height="500">

    </div>
  </div>



  <div class="row featurette mt-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1 text-black">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
  </div>



  <div class="row featurette mt-5">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 text-black">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
  </div>

  <!-- Aggiungere divisiore se si vuole aggiungere altri elementi  -->

  <!-- /END THE FEATURETTES -->

</div>
