// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Include the common styles for Angular Material.
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// Available color palettes are documented here: https://material.io/design/color/
$FrontEnd-primary: mat.m2-define-palette(mat.$m2-indigo-palette, A400, A100, A700);  // Correct way to use define-palette
$FrontEnd-accent: mat.m2-define-palette(mat.$m2-indigo-palette);    // Correct way to use define-palette

// Optional warn palette, defaults to red
$FrontEnd-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object with the specified color palette
$FrontEnd-theme: mat.m2-define-light-theme((
  color: (
    primary: $FrontEnd-primary,
    accent: $FrontEnd-accent,
    warn: $FrontEnd-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));

// Include Angular Material component themes for the theme
@include mat.all-component-themes($FrontEnd-theme);

/* Import other external styles */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

// Global styles for your application
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@tailwind base;
@tailwind components;
@tailwind utilities;

// Styles from Google
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

