<div class="container text-black h-[300px]">

  <br>

  <div class="row info">
    <div class="column">

      <div class="flex items-center space-x-5">
        <fa-icon class="icon mb-1.5 text-3xl" [icon]="faUser"></fa-icon>
        <h3 class="text-lg sm:text-xl md:text-2xl">Username:</h3>
        <h4 class="text-sm sm:text-base md:text-lg">{{data?.username}}</h4>
      </div>

      <br>

      <div class="flex items-center space-x-5">
        <fa-icon class="icon mb-1.5 text-3xl" [icon]="faEnvelope"></fa-icon>
        <h3 class="text-lg sm:text-xl md:text-2xl">Email:</h3>
        <h4 class="text-sm sm:text-base md:text-lg">{{data?.email}}</h4>
      </div>

      <br>

      <div class="flex items-center space-x-5">
        <fa-icon class="icon mb-1.5 text-3xl text-black" [icon]="faLocationDot"></fa-icon>
        <h3 class="text-lg sm:text-xl md:text-2xl">Indirizzo:</h3>
        <h4 class="text-sm sm:text-base md:text-lg">({{add?.name}})</h4>
        <h4 class="text-sm sm:text-base md:text-lg">{{add?.city}}, {{add?.state}}, {{add?.country}}</h4>
      </div>

    </div>
  </div>

  <div class="column">
    <h4 class="ml-64 move text-sm sm:text-base md:text-lg">{{add?.street}}, {{add?.number}}</h4>
  </div>


  <br>


</div>
