<div class="centrale max-w-screen-xl px-4 py-4 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 flex">

  <div class="mappa"></div>

  <!--

  <div class="address-info w-1/2 h-fit rounded-3xl justify-center">
    <google-map
      [width]="'500px'"
      [height]="'500px'"
      [center]="center"
      [zoom]="zoom">

       <map-marker [position]="center"></map-marker>

    </google-map>
  </div>


  <p>Latitudine: {{center.lat}}</p>
  <p>Longitudine: {{center.lng}}</p>

  -->


  <div id="map" class="w-1/2 h-[350px]"></div>



</div>

